body {
    flex-direction: column;
}

main{
    height: 95vh;
    background-color: #201E1E;
}

.menu-bar {
    display: none;
}

.menu-bar-mobile {
    display: flex;
    width: 100vw;
    background-color: #201E1E;
    height: 5vh;
    justify-content: end;
}

.menu-button {
    background-color: #201E1E;
    border: none;
    margin-right: 2vw;
}

.menu-button-image {
    width: 3vh;
    height: 3vh;
}

.skills-div {
    display: none;
}

.skills-div-mobile {
    margin-top: 7vh;
    display: flex;
    background-color: #363636;
    flex-direction: column;
}

.skills-text-div-mobile {
    height: 60vw;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: auto;
}

.codeline {
    height: 4vw;
}

.bluecode {
    font-size: 3vw;
}

.whitecode {
    font-size: 3vw;
}

.greencode {
    font-size: 3vw;
}

.orangecode {
    font-size: 3vw;
}

.skills-browser-div-mobile {
    margin-top: 5vw;
}

.browser-img-container-mobile {
    position: relative;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.browser-pic-mobile {
    width: 90vw;;
    margin-right: 5vw;
    margin-left: 5vw;
    margin-bottom: 5vh;
}
