body {
    background-color: white;
    color: black;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    min-height: 100vh;
}

header {
    display: flex;
    padding: 0;
}

nav {
    background-color: black;
    width: 150px;
    height: 100vh;
    padding: 20px;
    color: white;
    display: flex;
    flex-direction: column;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    height: 30px;
    /* set a fixed width */
    margin: 10px;
    text-align: center;
}

li a:hover {
    font-size: 18px;
    color: gray;
}

li a {
    transition: font-size 0.1s;
}

a {
    color: white;
    text-decoration: none;
}

.name {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 40px;
    text-align: center;
}