body {
    background-color: white;
    color: black;
    font-family: 'Courier', monospace;
    margin: 0;
    min-height: 100vh;
    display: flex;
}

header {
    display: flex;
    padding: 0;
}

nav {
    background-image: url("blackbackground.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 150px;
    height: 100vh;
    padding: 20px;
    color: white;
    display: flex;
    flex-direction: column;
}

.content-container {
    flex: 1;
    padding: 30px;
    /* other content-container styles */
}

.profilepic{
    width: width: 100%;
    max-width: 500px;
/*    margin-top: 20px;*/
    margin: 0 auto;
    
}

.icon {
    width: 50px;
    transition: all 0.2s ease-in-out;
}
.icon:hover {
    transform: scale(1.1);
    filter: hue-rotate(90deg) brightness(0.5) saturate(50%);
}

.img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.img-container img {
    width: 30px;
    height: 30px;
    margin: 10px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-bottom: 100px;
}

li {
    height: 30px;
    margin: 10px;
    margin-bottom: 50px;
    text-align: center;
}

li a:hover {
    font-size: 17px;
    color: coral;
}

li a {
    transition: font-size 0.1s;
}

a {
    color: white;
    text-decoration: none;
}

.name {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 100px;
    margin-top: 60px;
    text-align: center;
}