* {
    margin: 0;
    box-sizing: border-box;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.page{
    height: 100vh;
    width: 100vw;
    background-color: rgba(123, 169, 179, 0.8);
    justify-content: center;
    align-items: center;
}

.cover{
    background-color: #e8ecf2;
    width: 30vh;
    height: 35vw;
    position: relative;
    border-radius: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.alt-login {
    width: 100%;
    height: 3em;
    border-radius: 0.25em;
    display: flex;
    justify-content: space-around;
}

.alt-login div {
    width: 40%;
    height: 100%;
    border-radius: 0.25em;
    background-color: #e8ecf2;
    box-shadow: -5px -5px 10px rgba(255, 255, 255, 0.8), 5px 5px 10px rgba(0, 0, 0, 0.25);
    background-position: center;
    background-size: contain;
    background-size: 15%;
    background-repeat: no-repeat;
    cursor: pointer;
    transition: 0.5s;
    border-radius: 9999px;
}

.alt-login div:hover{
    color: rgb(41, 111, 127);
    box-shadow: -1px -1px 5px rgba(255, 255, 255, 0.6), 
        1px 1px 5px rgba(0, 0, 0, 0.3),
        inset -2px -2px 5px rgba(255, 255, 255, 0.3), 
        inset 2px 2px 4px rgba(0, 0, 0, 0.3);
}


.google{background-image: url(icons/google.png)}

input {
    border: none;
    background-color: rgba(123, 169, 179, 0.15);
    height: 3em;
    border-radius: 0.25em;
    text-align: center;
    padding: 2em;
}

input:focus {
    outline-color: rgb(41, 111, 127);
}

.login-btn{
    width: 40%;
    height: 3em;
    background-color:#e8ecf2;
    border: 4px solid #e8ecf2;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    border-radius: 9999px;
    box-shadow: -5px -5px 10px rgba(255, 255, 255, 0.8), 5px 5px 10px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}

.text{
    position: relative;
    bottom: -2em;
}

.login-btn:hover{
    color: rgb(41, 111, 127);
    box-shadow: -1px -1px 5px rgba(255, 255, 255, 0.6), 
        1px 1px 5px rgba(0, 0, 0, 0.3),
        inset -2px -2px 5px rgba(255, 255, 255, 0.3), 
        inset 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.hide{
    display: none;
    position: absolute;
    transform: scale(1);
}

.login-popup{
    position: absolute;
    height: 30em;
    width: 30em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 0.25em;
    background-color: black;
    color: white;
    bottom: 0;
    transform: scale(1);
    transition: 1.5s;
}
