body {
    background-color: white;
    color: black;
    font-family: 'Dekko';
    margin: 0;
    min-height: 100vh;
    display: flex;
}

header {
    display: flex;
    padding: 0;
}

.menubar {
    background-image: url("texturedblackbackground.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 150px;
    height: 100vh;
    padding: 20px;
    color: white;
    display: flex;
    flex-direction: column;
}

@keyframes background-animation {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 100% 0;
    }
}

.content-container {
    animation: background-animation 60s linear infinite;
    display: flex;
    width: 100%;
    flex-direction: row;
}

.aboutme-text {
    display: flex;
    width: 50%;
    margin-left: 10vw;
    align-content: center;
    justify-content: center;
    flex-direction: column;
}

.profilepic-container {
    margin-top: 100px;
    margin-right: 10vw;
    display: flex;
    justify-content: center;
    width: 50%;
}

.profilepic {
    width: 80%;
    display: flex;
    max-width: 300px;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 5px 5px 10px #888888;
}

.icon {
    width: 50px;
    transition: all 0.2s ease-in-out;
}

.icon:hover {
    transform: scale(1.1);
    filter: hue-rotate(90deg) brightness(0.5) saturate(50%);
}

.icon-div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.icon-div img {
    width: 30px;
    height: 30px;
    margin: 10px;
}

.menu-list-div {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-bottom: 100px;
}

.menu-list-item {
    height: 30px;
    margin: 10px;
    margin-bottom: 50px;
    text-align: center;
}

.menu-list-item a:hover {
    font-size: 17px;
    color: coral;
}

.menu-list-item a {
    transition: font-size 0.1s;
}

.menu-link {
    color: white;
    text-decoration: none;
}

.name {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 100px;
    margin-top: 60px;
    text-align: center;
}